<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>entry</title>
</head>
<body >
    <div class="page">
        {% load static %}
        {% block content %}
        <form method="POST" action="">
            {% csrf_token %}
          <div class="box">
            <h1 class="text-center wow fadeInUp">REGISTRATION FORM</h1>
            <form>
                <p>{{form}}</p>
               
            </form>
            <button type="submit" class="btn btn-primary mt-3 wow zoomIn">REGISTER</button>
            <br>
            <br></br><h2>Already have an account?<a href='{% url 'login' %}'>Login</a></h2>
          </div
        </form>
        {% endblock %} 
    </div>
</body>
</html>



